<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header.ejs') %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body class="bg-light">
    <%- include('partials/nav.ejs') %>
    <%- include('partials/imgTitle.ejs') %>

    <h2 style="text-align: center;">San Galletano</h2>

    <div style="text-align: center;">
        <h4>Visitanos en Etén 666 local 8 entrada por Calzada Azcapotzalco la Villa,  Col. Lindavista,  Gustavo A. Madero, CDMX</h4>  
    </div>

    <div class="pl-5 mb-5">
        <h5 class="pl-2"> 
            Visitanos en nuestras redes sociales <br>
            <a href="#" class="pr-2"><i class="fa fa-facebook-square" style="font-size: 40px;"></i></a>
            <a href="#"><i class="fa fa-twitter-square"  style="font-size: 40px;"></i></a>
        </h5>
    </div>
    <div align="center" class="py-5 greyBG">
        <img src="bodas.jpg" alt="Recomendado por bodas.com" width="200px">
        <h4 style="text-align: center;">Recomendado por<br> bodas.com</h4>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>