<footer class="bg-light pt-2 pl-5">
    <p style="font-size: 14px; padding-bottom: 0px;"><a href="" class="linkF">Politica de privacidad</a> | <a href="" class="linkF">Politica de cookies</a></p>
    <p style="font-size: 14px; padding-top: 0px;" class="text-secondary">Pastelería San Galletano calle Eten 666, Colonia Lindavista, Delegación Gustavo A Madero, CDMX, tels 6364 3836, itzel.cortes@sangalletano.com.mx</p></p>
</footer>
