<style>
    button{
        border: none;
        background: transparent;
    }
    li{
        list-style-type: none;
    }
    #navegador ul{
        list-style-type: none;
    }   
    #navegador li{
        display: inline;
        margin: 0 10px 0 0;
    }
</style>
<div class="bg-light" id="navegador">
    <nav class="pt-2">
        <ul>
            <li>
                <button class="btn btn-light">
                    <p>Menu</p>
                </button>
            </li>
            <li class="float-right">
                <button class="btn btn-light">
                    <a href="products.ejs">
                        <p>Productos</p>
                    </a>
                </button>
            </li>
            <li class="float-right">
                <button class="btn btn-light">
                    <a href="eventos.ejs">
                        <p>Eventos</p>
                    </a>
                </button>
            </li>
            <li class="float-right">
                <button class="btn btn-light">
                    <a href="pagos.ejs">
                        <p>Formas de pagos</p>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</div>