
<div class="bg-light fixed-top" id="navegador">
    <nav class="pt-2">
        <ul>
            <li>
                <button class="btn btn-light navB">
                    <p class="text-dark">Menu</p>
                </button>
            </li>
            <li class="float-right">
                <button class="btn btn-light navB">
                    <a href="products.ejs">
                        <p class="text-dark">Productos</p>
                    </a>
                </button>
            </li>
            <li class="float-right">
                <button class="btn btn-light navB">
                    <a href="eventos.ejs">
                        <p class="text-dark">Eventos</p>
                    </a>
                </button>
            </li>
            <li class="float-right">
                <button class="btn btn-light navB">
                    <a href="pagos.ejs">
                        <p class="text-dark">Formas de pagos</p>
                    </a>
                </button>
            </li>
        </ul>
    </nav>
</div>